@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    code {
        @apply relative rounded bg-slate-100 px-[0.3rem] py-[0.2rem] font-mono text-xs;
    }
}

code:before {
    display: none;
}

code:after {
    display: none;
}
